.card-container {
  font-family: "Roboto", sans-serif;
  border: 1px solid #000;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 350px;
  transition: border-color 200ms ease-in-out;
  border-radius: 4px;
  
  .top {
    height: 280px;
    background: #428bca;
    text-align: center;
    color: #f9f9f9;
  }
  .bottom {
    background: #f9f9f9;
    p {
        padding: 100px 24px 0 24px;
        line-height: 1.6;
      }
  }
  
  
  img {
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 29%; 
    top: 200px;
    transition: border-radius 300ms ease-in-out;
  }
  .hr {
    height: 1px;
    width: 320px;
    margin: 20px auto;
    background: #666;
  }

  footer {
   button{
       margin-left: 9em;
       margin-bottom: 2em;
       width: 80px;
       height: 30px;
       &:hover{
           cursor: pointer;
       }
   }
  }
  
}
